@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&display=swap');

  body {
      font-family: 'Kanit', sans-serif;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      background: radial-gradient(circle, rgba(0, 0, 0, 0.8), #0f172a);
      color: white;
      text-align: center;
  }

  .navbar {
      position: fixed;
      top: 20px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      gap: 2rem;
      background-color: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(8px);
      padding: 1rem 3rem;
      border-radius: 50px;
      font-weight: 600;
      font-family: 'Kanit';
  }

  .navbar ul {
      list-style: none;
      display: flex;
      gap: 1.5rem;
      margin: 0;
      padding: 0;
  }

  .navbar a {
      color: white;
      text-decoration: none;
      padding: 0.5rem 1rem;
      transition: background-color 0.3s, color 0.3s;
      border-radius: 50px;
      font-weight: 400;
  }

  .navbar a:hover {
      background-color: white;
      color: #0f172a;
  }

  .button {
      display: inline-block;
      padding: 0.75rem 1.5rem;
      background-color: white;
      color: #0f172a;
      font-weight: bold;
      text-decoration: none;
      border-radius: 50px;
      transition: background-color 0.3s, color 0.3s;
      display: flex;
      align-items: center;
      gap: 0.5rem;
  }

  .button:hover {
      background-color: #0f172a;
      color: white;
      border: 1px solid white;
  }

  .fullscreensection {
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 2rem;
      background: radial-gradient(circle, rgba(0, 0, 0, 0.8), #1e293b);
      color: white;
      text-align: center;
      font-family: 'Lexend Giga', sans-serif;
  }

  #home {
      background: radial-gradient(circle, rgba(0, 0, 0, 0.6), #0f172a);
  }

  #about {
      background: radial-gradient(circle, rgba(65, 90, 119, 0.8), #1e293b);
  }

  #skills {
      background: radial-gradient(circle, rgba(119, 141, 169, 0.8), #1b263b);
  }

  #contact {
      background: radial-gradient(circle, rgba(27, 38, 59, 0.8), #0d1b2a);
  }

  .fullscreensection h1 {
      font-size: 3rem;
      margin-bottom: 5rem;
  }

  .fullscreensection p {
      font-size: 1.2rem;
      max-width: 600px;
      margin: 0 auto;
  }

  .card-container {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      flex-wrap: wrap;
  }

  .cards {
      background-color: #1e293b;
      padding: 2rem;
      border: 3px solid white;
      border-radius: 2em;
      box-shadow: -5px 5px 0px 0px white;
      transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      width: 180px;
      height: 180px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .cards:hover {
      transform: translate(5px, -5px);
  }

  .cards h2 {
      font-size: 1rem;
      margin-bottom: 0.75rem;
  }

  .logo svg {
      width: 32px;
      height: 32px;
  }

  .skills-grid {
      display: grid;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      grid-template-columns: repeat(4, 1fr);
  }

  .skill-item {
      font-size: 1rem;
      padding: 0.8em 2em;
      background-color: #1e293b;
      border: 3px solid #4F46E5;
      border-radius: 1em;
      color: #fff;
      font-weight: 200;
      font-family: 'Lexend Giga';
      transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      box-shadow: -5px 5px 0px 0px #4F46E5;
      text-align: center;
  }

  .skill-item:hover {
      transform: translate(5px, -5px);
  }